.header{
    text-align: center;
    padding: 5em 0 0 0;
    top: 0;
    width: 100%;
    margin: 0 0 0 0;
    left: 0px;
    margin-left: 0;
    font-size: 2rem;
    background-size: cover;
    background-image: url(../img/header-img.jpg);
    background-position: right;
    color: maroon;
}


@media screen and (max-width: 500px) {
    .header {
        height: 30%;
    }
}